PORT=8001
MONGODB_URI=your_mongo_connection_string
UPI_API_URL=http://localhost:8000/api/v1
PUBLIC_VAPID_KEY=your_vapid_public_key_here
PRIVATE_VAPID_KEY=your_vapid_private_key_here
VAPID_EMAIL=mailto:your-email@example.com
